<% layout('layouts/boilerplate') %>
<h1 class="text-center">Add a Lesson</h1>
<div class="col-6 offset-3">
  <form action="/lessons" method="post">
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="class">Class</label>
      <input class="form-control" type="text" name="lesson[class]" id="class" />
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="title">Title</label>
      <input class="form-control" type="text" name="lesson[title]" id="title" />
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="starter">Starter</label>
      <textarea
        class="form-control"
        name="lesson[starter]"
        id="starter"
        cols="30"
        rows="3"
      ></textarea>
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="main">Main Task</label>
      <textarea
        class="form-control"
        name="lesson[main]"
        id="main"
        cols="30"
        rows="3"
      ></textarea>
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="plenary">Plenary</label>
      <textarea
        class="form-control"
        name="lesson[plenary]"
        id="plenary"
        cols="30"
        rows="3"
      ></textarea>
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="date">Date</label>
      <input class="form-control" type="text" name="lesson[date]" id="date" />
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="period">Period</label>
      <input
        class="form-control"
        type="number"
        name="lesson[period]"
        id="period"
      />
    </div>
    <button class="btn btn-success">Add Lesson</button>
  </form>
  <a href="/lessons">Go Back To All Lessons</a>
</div>
