<% layout('layouts/boilerplate') %>
<ul>
  <% for(let lesson of lessons) { %>
  <li>
    <a href="/lessons/<%=lesson._id%>"
      ><%=lesson.title%> ---- <%=lesson.class%></a
    >
  </li>
  <% } %>
</ul>
<a class="btn btn-success" href="/lessons/add">Add a New Lesson</a>
